
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #FF7800;
  color: white;
  z-index: 1000;
  transition: all 0.3s ease;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.footer-brand {
  font-weight: bold;
  font-size: 16px;
  padding-left: none;
  color: white;
  text-decoration: none;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
  text-decoration-color: white;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    padding-right: none;
  }

  .footer-links {
    display: none;
  }

  .footer-brand {
  font-weight: 400;
  font-size: 16px;
  padding-left: none;
  color: white;
  text-decoration: none;
}

  .footer.expanded {
    height: 80vh;
  }

  .footer.expanded .footer-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }

  .footer.expanded .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 100px; /* justo encima del footer */
    right: 0;
    width: 100%;
    padding-right: 40px;
    font-size: 16px;
  }

  .footer.expanded .footer-links a {
    margin: 1rem 0;
    font-size: 16px;
  }
}
