/* ====== RESET BÁSICO ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====== CONTENEDOR PRINCIPAL ====== */
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("assets/images-index/fondo-desktop-firma.jpg") center/cover no-repeat fixed;
  overflow: hidden;
}

/* ====== ICONOS ====== */
.icon {
  position: absolute;
  width: 300px;
  aspect-ratio: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.icon:hover {
  transform: scale(1.1);
}
.icon-nh {
  position: absolute;
  width: 300px;
  aspect-ratio: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.icon-nh:hover {
  transform: none;
}

/* POSICIONES EN ESCRITORIO (≥768px) */
.icon-1 {
  top: 40%;
  left: 55%;
  width: 400px;
}
.icon-2 {
  top: 15%;
  left: 70%;
  width: 400px;
}
.icon-3 {
  top: 50%;
  left: 5%;
}
.icon-4 {
  top: 15%;
  left: 20%;
}
.icon-5 {
  top: 2%;
  left: 40%;
  width: 250px;
}
.icon-6 {
  top: 65%;
  left: 35%;
}
.icon-7 {
  top: 45%;
  left: 30%;
}
.icon-8 {
  top: 65%;
  left: 80%;
  width: 250px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}




/* ====== VERSIÓN MÓVIL ====== */
@media (max-width: 767px) {
  .hero {
    background: url("/assets/images-index/fondo-mobile-firma.jpg") center/cover no-repeat fixed;
  }

  .icon {
    width: 48px;
    animation: bounce 2s infinite;
  }

  .icon-1 {
    top: 70%;
    left: 45%;
    width: 200px;
    animation-delay: 0.1s;
  }
.icon-2 {
  top: 15%;
  left: 45%;
  width: 200px;
  animation-delay: 0.2s;

}
.icon-3 {
  top: 50%;
  left: 2%;
  width: 200px;
  animation-delay: 0.3s;
}
.icon-4 {
  top: 20%;
  left: 10%;
  width: 150px;
  animation-delay: 0.4s;
}
.icon-5 {
  top: 35%;
  left: 40%;
  width: 120px;
}
.icon-6 {
  top: 80%;
  left: 5%;
  width: 150px;

}
.icon-7 {
  top: 60%;
  left: 60%;
  width: 100px;
}
.icon-8 {
  top: 39%;
  left: 70%;
  width: 100px;
}
}
